RewriteEngine on
RewriteCond %{HTTP_HOST} ^api-persensi.perciktours.com [NC,OR]
RewriteCond %{HTTP_HOST} ^www.api-persensi.perciktours.com
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]
